<div class="task">
  <button [ngClass]="{'btn-check': task.status == 1,'btn-check-active': task.status == 2 }" (click)="completeTask()">
    <i class='bx bx-check'></i>
  </button>
  <div class="task-data" [routerLink]="['/task',task.id]">
    <div class="task-title">{{task.title}}</div>
    <div class="task-desc">{{task.description}}</div>
    <div class="task-footer"><small>{{task.created}}</small></div>
  </div>
  <div class="task-actions">
    <button class="btn-drop-task" (click)="deleteTask()"><i class="bx bx-trash"></i></button>
  </div>
</div>
